body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #55F3FF;
}

.banner-column{
    background-color: #66C5CC;
}

.navbar-container{
    top: 0%;
    background-color: #283E4A;
    position: sticky;
    z-index: 2;
}
.about-container{
    background-color: #F1F3F4;
}
p{
    text-align: justify;
}
.education-container{
    background: #96F4F7;
}
.greentype-color{
    color: #F1F3F4;
}
.circle{
    background-color: #F1F3F4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card{
    background-color: #F1F3F4;
}
.gallery-container{
    background-color: #2BB3DD;
}

.inner-form{
    background-color: #F0FFFF;
}
.btn-btnprimay:hover{
    color: black;
}
.footer{
    background-color: lightgray;
}
.icon-circle{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    font-size: 40px;
    text-align: center;
    color: lightgray;
}
.icon-circle:hover{
    background-color: black;
}