body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color: #55F3FF;
}

.banner-column{
    background-color: #66C5CC;
}

.navbar-container{
    background-color: #283E4A;
}
.about-container{
    background-color: #F1F3F4;
}
p{
    text-align: justify;
}
.education-container{
    background: #00AD55;
}
.greentype-color{
    color: #F1F3F4;
}
.circle{
    background-color: #F1F3F4;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.card{
    background-color: #F1F3F4;
}
.gallery-container{
    background-color: #2BB3DD;
}